{% assign content = site.data.settings['footer'] %}
{% assign social = site.data.settings['social'] %}

            <!-- ==================== Start Footer ==================== -->

            <footer class="min-footer sub-bg pt-30 pb-30">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 md-mb15">
                            <div class="logo icon-img-100">
                                <img src="{{ /assets/imgs/logo-light.png | relative_url }}" alt="">
                            </div>
                        </div>
                        <div class="col-lg-4 order-md-3">
                            <div class="text-center">

                                <p class="fz-14">© 2024 <span
                                        class="underline main-color"><a href="https://twomoulins.fr"
                                            target="_blank">Félix Moulin</a></span> All rights reserved</p>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>

            <!-- ==================== End Footer ==================== -->




