{% assign content = site.data.content['desc'] %}
{% assign social = site.data.content['site'] %}

<!-- ==================== Start about ==================== -->

<section class="about" data-scroll-index="2">
    <div class="container section-padding bord-thin-top">
        <div class="row md-marg">
            <div class="col-lg-6">
                <div class="cont md-mb50">
                    <h6 class="sub-title main-color mb-15">{{ site.title }}</h6>
                    <h3>Road, CX & VTT</h3>
                    <div class="row justify-content-end">
                        <div class="col-lg-11">
                            <div class="row mt-50 pt-50 bord-thin-top">
                                <div class="col-sm-6">
                                    <div class="item d-flex align-items-center sm-mb30">
                                        <h2 class="fz-60 line-height-1"><span
                                                class="numb-count">23</span></h2>
                                        <span class="sub-title opacity-7 ml-30">Coureurs</span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="item d-flex align-items-center">
                                        <h2 class="fz-60 line-height-1"><span
                                                class="numb-count">5</span><span class="fz-30"></span>
                                        </h2>
                                        <span class="sub-title opacity-7 ml-30">ans de bonne<br>
                                            humeur</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="img-vid" style="border-radius: 30px 30px 30px 30px;">
                    <img src="assets/imgs/team/team.jpeg" alt="">
                   <!-- <div class="curv-butn main-bg">-->
                        <!--<a href="https://youtu.be/AzwC6umvd1s" class="vid">
                            <div class="icon">
                                <i class="fas bicycle"></i>
                            </div>
                        </a>-->
                        <!--<div class="shap-left-top">
                            <svg viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg"
                                class="w-11 h-11">
                                <path
                                    d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z"
                                    fill="#1a1a1a"></path>
                            </svg>
                        </div>-->
                        <!--<div class="shap-right-bottom">
                            <svg viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg"
                                class="w-11 h-11">
                                <path
                                    d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z"
                                    fill="#1a1a1a"></path>
                            </svg>
                        </div>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ==================== End about ==================== -->
