{% assign content = site.data.content['hero'] %}
{% assign social = site.data.settings['social'] %}

 <!-- ==================== Start Header ==================== -->

<header class="freelancer" data-scroll-index="0">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="img">
                    <img src="assets/imgs/intro/profil.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="caption">
        <h1 class="up stroke"><span>Team </span><span>Specialized</span> <span>Lille</span></h1>
        <h1 class="down"><span>Team </span><span>Specialized</span> <span>Lille</span></h1>
    </div>
</header>

<!-- ==================== End Header ==================== -->
