{% assign content = site.data.content['blog'] %}
{% assign ui_text = site.data.ui-text['ui_text'] %}

<!-- ==================== Start Blog ==================== -->

<section class="blog-crev section-padding" data-scroll-index="5">
    <div class="container">
        <div class="sec-head mb-80">
            <h6 class="sub-title main-color mb-25">Résultats</h6>
            <div class="bord pt-25 bord-thin-top d-flex align-items-center">
                <h2 class="fw-600">Les dernières <span class="fw-200"> courses</span></h2>
                <div class="ml-auto">
                    <a href="blog-list.html" class="go-more">
                        <span class="text">Toutes les courses</span>
                        <span class="icon ti-arrow-top-right"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            {% for post in site.posts limit:6 %}
                <div class="col-lg-4">
                <div class="item sub-bg md-mb50">
                    <div class="img">
                        <img src="{{ post.image | relative_url }}" alt="{{ post.title }}" />
                        <div class="tag sub-bg">
                            <span>{{ post.category }}</span>
                            <div class="shap-right-bottom">
                                <svg viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg"
                                    class="w-11 h-11">
                                    <path
                                        d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z"
                                        fill="#1d1d1d"></path>
                                </svg>
                            </div>
                            <div class="shap-left-bottom">
                                <svg viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg"
                                    class="w-11 h-11">
                                    <path
                                        d="M11 1.54972e-06L0 0L2.38419e-07 11C1.65973e-07 4.92487 4.92487 1.62217e-06 11 1.54972e-06Z"
                                        fill="#1d1d1d"></path>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="cont">
                        <div class="date sub-title mb-10 opacity-7">
                            <a href="blog-details.html">{{ post.date | date: site.date_format }}</a>
                        </div>
                        <h5>
                            {% assign title_parts = post.title | split: ' - ' %}
                            <a href="blog-details.html">{{ title_parts[0] }} - {{ title_parts[1] }}</a>
                        </h5>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<!-- ==================== End Blog ==================== -->