{% assign content = site.data.content['marq'] %}
{% assign ui_text = site.data.ui-text['ui_text'] %}
{% assign categories = site.data.settings['marq'] %}

<!-- ==================== Start marq ==================== -->

<section class="marquee-skew">
    <div class="container-fluid rest">
        <div class="row">
            <div class="col-12">
                <div class="main-marq lrg">
                    <div class="slide-har st1">
                                <div class="box non-strok">
                                    <div class="item">
                                        <h4 class="d-flex align-items-center"><span>Cycles Lecolier</span>
                                            <span class="fz-50 ml-50 stroke icon">*</span>
                                        </h4>
                                    </div>
                                    <div class="item">
                                        <h4 class="d-flex align-items-center"><span>Specialized</span> <span
                                                class="fz-50 ml-50 stroke icon">*</span></h4>
                                    </div>
                                </div>
                                <div class="box non-strok">
                                    <div class="item">
                                        <h4 class="d-flex align-items-center"><span>Cycles Lecolier</span>
                                            <span class="fz-50 ml-50 stroke icon">*</span>
                                        </h4>
                                    </div>
                                    <div class="item">
                                        <h4 class="d-flex align-items-center"><span>Specialized</span> <span
                                                class="fz-50 ml-50 stroke icon">*</span></h4>
                                    </div>
                                </div>
                            </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ==================== End marq ==================== -->
<!-- ==================== Start brands ==================== -->

<div class="clients-carso2">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-11">
                <div class="swiper5" data-carousel="swiper" data-items="5" data-loop="true"
                    data-space="40">
                    <div id="content-carousel-container-unq-clients" class="swiper-container"
                        data-swiper="container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="item">
                                    <div class="img icon-img-100">
                                        <a href="https://cycleslecolier.fr/" target="_blank">
                                            <img src="{{ 'assets/imgs/brands/lecolier.png' | relative_url }}" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="item">
                                    <div class="img icon-img-100">
                                        <a href="https://www.specialized.com/fr/fr" target="_blank">
                                            <img src="{{ 'assets/imgs/brands/specialized.png' | relative_url }}" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="item">
                                    <div class="img icon-img-100">
                                        <a href="https://www.thenwc.org/" target="_blank">
                                            <img src="{{ 'assets/imgs/brands/nwc.png' | relative_url }}" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ==================== End brands ==================== -->
