<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    {% if site.google-analytics %}
      {% include google-analytics.html %}
    {% endif %}

    <!-- begin content -->
    <main class="content" aria-label="Content">
      {{ content }}
      {% for team in site.data.team.team_members %}
          dhkjzehkjdzehk
      {{ team.name }}
      
    {% endfor %}
    <ul>
      {% for member in site.data.members %}
        <li>
          <a href="https://github.com/{{ member.github }}">
            {{ member.name }}
          </a>
        </li>
      {% endfor %}
      </ul>
    </main> 
    <!-- end content -->
    
    <div class="top" title="Top"><i class="ion ion-ios-arrow-up"></i></div>
  </body>
</html>